# Credenciais da API SigiloPay
# Obtenha no painel: Integrações -> API -> Gerar credenciais
SIGILOPAY_PUBLIC_KEY=
SIGILOPAY_SECRET_KEY=

# URL base oficial da API SigiloPay
SIGILOPAY_BASE_URL=https://app.sigilopay.com.br/api/v1

# URL pública da sua aplicação para webhook (ex: https://seu-dominio.vercel.app)
# Deixe vazio em dev local ou defina com sua URL de produção / ngrok
WEBHOOK_BASE_URL=

# Meta Pixel & Conversions API (CAPI)
META_PIXEL_ID=954239554398396
META_ACCESS_TOKEN=EAARa5slDBT0BSm4057AJ0tRAYivLy5Lcsb8ELd3owUZCZA58PBrPaKjqiJ0NjitGTVNVpvvfM63ZBLqwCa6Lz83OM0DmSABD7e4EFmweLQbqljDPZB8YLGZBnGFTTzVebnA2c8tbK04HvhRtOitnT3aYmUoBFrX0zOUo73hu0dgat9WtPLuoHaKPMZB7zMXgZDZD
